:root {
    --old-gold: #CFB53B;
    --rich-black: #0D1321;
    --prussian-blue: #1D2D44;
    --paynes-gray: #3E5C76;
    --silver-lake-blue: rgb(179, 205, 236);
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 200px 1fr;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

/* SIDEBAR STYLING */

.sidebar {
    background-color: var(--old-gold);
    grid-column: 1;
    grid-row: 1 / span 2;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar > .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px 20px;
}

.logo > .logo-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}

.sidebar > .logo > img {
    height: 50px;
}

.sidebar > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sidebar > ul > li > .navlink {
    font-size: 1.2rem;
    color: white;
}

.sidebar > ul > li > img.navicon {
    height: 30px;
}


#dashboard-icon,
.navicon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(162deg) brightness(101%) contrast(104%);
}

/* HEADER STYLING */

.header {
    background-color: white;
    grid-column: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;

    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header > .searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 30px 30px;
}

.header > .searchbar > img {
    padding-right: 30px;
}

.header > .searchbar > input {
    flex: 1;
    /* margin-right: 50px; */

    border: 0px;
    border-radius: 2rem;
    padding: 10px;
    background-color: rgb(227, 232, 239);
}

.header > .searchbar > input:focus {
    outline: 2px solid var(--old-gold);
}

.header > .searchbar > img,
.header > .notificationbar, img {
    height: 30px;
}

img.profile-picture {
    height: 50px;
}

.header > .notificationbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    padding: 30px 30px;
}

.header > .notificationbar > .profile-picture {
    padding: 10px;
    border-radius: 100%;
    background-color: var(--old-gold);
}

.header > .notificationbar > .account {
    font-size: larger;
    font-weight: bolder;
}

.header > .hithere {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

    margin-left: 30px;
}

.header > .hithere > img {
    padding: 10px;
    height: 50px;
    border-radius: 100%;
    background-color: var(--old-gold);
}

.header > .hithere > .hi-text-container {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.header > .hithere > .hi-text-container > .hi-name {
    font-size: 1.5rem;
    margin-top: -10px;
}

.header > .postbutton-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 0px 10px;
}

.header > .postbutton-container > button {
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: var(--prussian-blue);
    padding: 10px 30px;
    border-radius: 1.5rem;
    border: none;
}

.header > .postbutton-container > button:hover {
    background-color: var(--old-gold);
}

/* CONTENT STYLING */

.content {
    background-color: var(--silver-lake-blue);
    grid-column: 2;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    padding-left: 30px;
    padding-top: 30px;
}

.content .projects {
    grid-column-start: 1;
    grid-row: 1 / span 2;
}

.content .announcements,
.content .trending {
    grid-column-start: 2;
}

.content > .projects > .title {
    color: var(--rich-black);
    font-size: 1.5rem;
    font-weight: bold;
}

.content > .projects > .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.content > .projects > .project-container > .card {
    background-color: white;
    padding: 20px 20px;
    border-radius: .5rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-left: 10px solid var(--prussian-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.content > .projects > .project-container > .card:hover {
    border-left: 10px solid var(--old-gold);
}

.content > .projects > .project-container > .card > .card-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--rich-black);
}

.card > .card-content {
    color: #747e96;
}

.card > .button-container {
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.announcements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.announcements > .title,
.trending > .title {
    color: var(--rich-black);
    font-weight: bold;
    font-size: 1.2rem;
}

.announcements > .announcements-container {
    background-color: white;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px 20px;
    border-radius: .5rem;

    font-size: small;
}

.announcements > .announcements-container > .announcement-title {
    color: var(--rich-black);
    font-weight: bold;
    margin-bottom: -10px;
}

.announcements > .announcements-container > p {
    color: #747e96;
}

.trending {
    margin-top: 20px;
}

.trending > .trending-container {
    background-color: white;
    margin-top: 10px;
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 20px 20px;
    border-radius: .5rem;

    font-size: small;   
}